---
layout: base
title: Index | Eleventy Starter
---

<header class="header">
    <h1 class="header_text">Eleventy Starter</h1>
</header>

<main class="main">
    <p class="main_text">Main</p>
</main>

<footer class="footer">
    <p class="footer_text">Footer</p>
</footer>
